

@font-face {
	font-family: Mason;
	src: url("../fonts/mason.ttf");
}
@font-face {
	font-family: Andalus;
	src: url("../fonts/andalus.ttf");
}
@font-face {
    font-family: GentiumBasic;
    src: url("../fonts/gentium.basic.regular.ttf");
}

.aventurien-container {
	background-color: rgb(18, 17, 15); 
	background: url("../img/background.png") repeat;
    min-width: 325px;
	max-width: 656px;
	padding: 5px;
}

.aventurien-border {
	border: solid 7px;
	border-image: url("../img/border.png") 7 7 7 7;
}

.aventurien-container-block {
	display: inline-block;
	vertical-align: top;
	width: 325px;
}

/**************************************************************************************/
/*** aventurien-parchment                                                           ***/
/**************************************************************************************/

.aventurien-container-parchment {
}

.aventurien-parchment {
	position: relative;
	width: 325px;
	min-height: 300px;
	padding: 60px 0px 110px 0px;
    background-image: url("../img/parchment.top.png"), url("../img/parchment.bottom.png"), url("../img/parchment.mid.png");
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-position: left top, left bottom, left top;
	background-clip: border-box, border-box, content-box;
}

.aventurien-parchment-crest-dragon {
	position: absolute;
	top: -10px;
	height: 100px;
	width: 325px;
	background: url("../img/crests/dragon.png") center top no-repeat;
}

.aventurien-parchment-content {
	padding: 0px 35px 0px 35px;
	text-align: center;
	font-family: GentiumBasic;
	font-size: 10pt;
	line-height: 11pt;
    color: #000000;
}

.aventurien-parchment-content h1 {
	position: relative;
	padding: 16px 0px 16px 0px;
    margin-bottom: 0px;
	background-image: url("../img/heading.top.png"), url("../img/heading.bottom.png"), url("../img/heading.mid.png");
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-position: left top, left bottom, left top;
	background-clip: border-box, border-box, content-box;
				
	color: #56442b;
				
	font-family: Andalus;
	font-size: 22px;
	font-weight: bold;
	line-height: 25px;
/*	
	font-family: Mason;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
*/
}

.aventurien-parchment-content h1:before, .aventurien-parchment-content h1:after {
	content: "";
	height: 4px;
	display: block;
}

.aventurien-parchment-content hr {
	position: relative;
	height: 16px;
	width: 100%;
	background: url("../img/heading.line.png") center center no-repeat;
	border: none;
}

/**************************************************************************************/
/*** aventurien-portrait                                                            ***/
/**************************************************************************************/

.aventurien-container-portrait {
    position: relative;
	top: 8px;
	width: 300px;
	margin: 0px auto 20px auto;
}

.aventurien-portrait-huge {
    width: 300px;
    height: 430px;
    background-image: url("../img/cover.default.jpg");
    background-position-x: center;
    background-size: cover;
}

.aventurien-portrait-shadow {
    width: 300px;
    height: 430px;
    /* background-image: url("../img/cover.shadow.png"); */
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.25);
    position: absolute;
    top: 0px;
}

.aventurien-portrait-frame {
    width: 300px;
    height: 430px;
    /* background-image: url("../img/cover.frame.png"); */
    display: none;
    position: absolute;
    top: 0px;
}

/**************************************************************************************/
/*** aventurien-list                                                                ***/
/**************************************************************************************/

.aventurien-list {
    display: inline-block;
}

.aventurien-list-title {
	font-family: 'Overlock';
	font-size: 16px;
	font-weight: normal;
	line-height: 32px;
}

.aventurien-list-items {
}

.aventurien-list-item {
    width: 90px;
    height: 160px;
    margin: 9px;
    display: inline-block;
    float: left;
}

.aventurien-list-item-frame {
    width: 86px;
    height: 116px;
    position: absolute;
    border: 2px solid;
    border-image: url(../img/slot.border.png) 2 2 2 2;
}

.aventurien-list-item-frame a {
    width: 86px;
    height: 116px;
    display: block;    
}

.aventurien-list-item-thumbnail {
    width: 90px;
    height: 120px;
    background-position-x: center;
    background-size: cover;
}

.aventurien-list-item-label {
    width: 98px;
    height: 40px;
    position: absolute;
    display: inline-table;
    position: relative;
    left: -4px;
    top: -5px;
}

.aventurien-list-item-label a {
    color: #a99877;
}

.aventurien-list-item-label div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0px 5px 5px 5px;
}

.aventurien-list-item-label-normal {
    font-size: 13px;
    font-weight: bold;
    line-height: 12px;
}

.aventurien-list-item-label-small {
    font-size: 9px;
    font-weight: normal;
    line-height: 12px;
}

